/* Basic Setting */
:root {
    --basic-text-color:  #333333;
    --light-text-color: #ffffff;

    --cmd-btn-text-color: #ffffff;

    --player-section-background: antiquewhite;

    --player-one-color: #FFC733;
    --player-two-color: #3FE369;
    --attack-btn-color: orangered;
    --defend-btn-color: forestgreen;


    --board-height: 90vmin;
    --cell-size: calc(var(--board-height) / 10);
     
    --cell-border-color: gray;
    --cell-border-style: 2px solid var(--cell-border-color);
    --cell-background-color: var(--basic-text-color);

    --title-font-family: 'Fascinate', cursive;

    --basic-font-size: 16px;

    --game-section-margin: 1em auto;
    --counter-section-margin: .5em 0;

    --basic-player-size: 50%;
    --basic-weapon-size: 50%; 
}


body {
    background-image: url('../img/map/rpgTile_sand.png');
    background-repeat: repeat;
    color: var(--light-text-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--basic-font-size);
}

main {
    padding: 2em 0;
}

h1 {
    font-family: var(--title-font-family);
    letter-spacing: .25em;
}

h2 {
    font-family: var(--title-font-family);
    font-size: 1.5rem;
    letter-spacing: .075em;
}


/* Jumbotraon section */
#jumbotron {
    width: var(--board-height);
    margin: 1.5em auto;
}


.title-section > button {
    margin: 1em 0;
}

.jumbotron-text {
    margin-bottom: 2.5em;
}

.start-button {
    color: var(--light-text-color);
    background-color: #333333;
    border: 1.25px solid #333333;
    padding: 1.25em 1.5em 1em 1.5em;
    border-radius: 10px;
    font-size: .75rem;
    letter-spacing: .25em;
    text-transform: uppercase;
    margin: 0 auto;
}

.start-button:hover {
    color: var(--basic-text-color);
    background-color: transparent;
    text-decoration: none;
}



/* 
**
** Player Menu
**
*/

.player-screen, .board-section {
    margin: var(--game-section-margin);
}

.player-screen {
    width: 100%;
}

.icon-wrapper {
    margin: var(--counter-section-margin);
    letter-spacing: .15em;
}

.icon-wrapper > h2 {
    font-size: 1rem;
    margin: 1em 0;
}

.icon-wrapper > img {
    width: 3em;
}

.command-menu {
    margin: 0 1em;
    padding: 1em;
    background-color: var(--player-section-background);
    color: var(--basic-text-color);
    border-radius: 15px;
    height: 100%;
}

.player-command-btn {
    display: inline-flex;
}

.command-btn {
    font-size: .75rem;
    letter-spacing: .15em;
    margin: .5em;
    text-transform: none;
}

button.attack {
    color: var(--cmd-btn-text-color);
    background-color: var(--attack-btn-color);
    border: var(--attack-btn-color);
}

button.attack:hover {
    color: var(--attack-btn-color);
    background-color: var(--player-section-background);
}

button.defend {
    color: var(--cmd-btn-text-color);
    background-color: var(--defend-btn-color);
    border: var(--defend-btn-color);
}

button.defend:hover {
    color: var(--defend-btn-color);
    background-color: var(--player-section-background);
}

.hidden_show {
    display: inline-flex;
}

.counters {
    display: block;
    padding: .5em 0;
}

/* Hide checkbox */
.player-command-btn input {
   display: none;
}

/* Disable inside */
.player-command-btn .hidden_show {
    visibility: hidden;
    font-size: .75rem;
}

.player-command-btn input:checked ~ .hidden_show {
   height: auto;
   opacity: 1;
   visibility: visible;
   display: inline-block;
}


/* Counters */
.player-counter-section {
    margin: var(--counter-section-margin);
    padding-right: .75em;
    display: block;
}


.player-counter-section > img {
    width: 1.5em;
}


.counter-x {
    padding: 0 .25em;
}

.atk-pt-count {
    padding: 0 .25em;
}

/* Board background */
.board-wrapper {
    display: block;
}

.board {
    justify-content: center;
    max-width: 100%;
    width: var(--board-height);
    margin: 0 auto; 
}

.box {
    background-color: var(--cell-background-color);
    border: var(--cell-border-style);
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 10px;
}

/* Map Icons */
.map-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-one {
    background-image: url('../img/player/player_yr.png');
    background-size: var(--basic-player-size);
}

.player-two {
    background-image: url('../img/player/player_gr.png');
    background-size: var(--basic-player-size);
}

.weapon-one {
    background-image: url('../img/weapon/bean_blue.png');
    background-size: var(--basic-weapon-size);
}

.weapon-two {
    background-image: url('../img/weapon/bean_green.png');
    background-size: var(--basic-weapon-size);
}

.weapon-three {
    background-image: url('../img/weapon/jelly_yellow.png');
    background-size: var(--basic-weapon-size);
}

.weapon-four {
    background-image: url('../img/weapon/wrappedtrans_red.png');
    background-size: calc(var(--basic-weapon-size) + 15%);
}

.obstacle-one {
    background-image: url('../img/map/rock.png');
    background-position: bottom;
    background-size: contain;
}



/* Box classes */
.player-one-active {
    border: 2px solid var(--player-one-color);
    cursor: pointer;
}

.player-two-active {
    border: 2px solid var(--player-two-color);
    cursor: pointer;
}



/* Desktop Size Media Query */
@media only screen and (min-width: 768px) {
    .player-screen {
        max-width: calc((100vmax - var(--board-height)) / 2);
    }

    .icon-wrapper > h2 {
        font-size: 1.25rem;
        margin: 1em 0;
    }
}