body {
    background-image: url('../img/map/rpgTile_sand.png');
    background-repeat: repeat;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    padding: 5em 0;
}

h1 {
    font-family: 'Fascinate', cursive;
    letter-spacing: .25em;
}


/* Jumbotraon section */
#jumbotron {
    padding: 1em 0;
}

.jumbotron-text {
    margin-bottom: 2.5em;
}

.start-button {
    color: #ffffff;
    background-color: #333333;
    border: 1.25px solid #333333;
    padding: 1.25em 1.5em 1em 1.5em;
    border-radius: 10px;
    font-size: .75rem;
    letter-spacing: .25em;
    text-transform: uppercase;
}

.start-button:hover {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

/* Board background */
.board {
    justify-content: center;
    padding: 3em 1em;
}

.box {
    background-color: #333333;
    border: 2px solid gray;
    min-height: 3em;
}

.player-one {
    background-image: url('../img/player/player_yr.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/* 
**
** Player Menu
**
*/
#action-menu01 {
    position: fixed;
    bottom: 3em;
    left: 0;
}

#action-menu02 {
    position: fixed;
    bottom: 3em;
    right: 0;
}

.command-icon {
    background-color: transparent;
    border: none;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .5rem;
    letter-spacing: .25em;
}

.player-menu label:before {
    transition: .2s;
    display: block;
}

#action-menu01 label:before {
    content: url('../img/icon/badge_gr.png');
}

#action-menu01 input:checked ~ label:before {
    content: url('../img/icon/hud_x.png');
}

#action-menu02 label:before {
    content: url('../img/icon/badge_yr.png');
}

#action-menu02 input:checked ~ label:before {
    content: url('../img/icon/hud_x.png');
}

.attack::before {
    content: url('../img/icon/bomb.png');
    display: block;
}

.defend::before {
    content: url('../img/icon/star.png');
    display: block;
}


.player-menu label {
    padding: 15px;
    background: transparent;
    color: #ffffff;
    padding: 0 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin: 0;
}



.player-menu input:checked ~ label:before {
    content: url('../img/icon/hud_x.png');
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #668ad8;
}

/* Hide checkbox */
.player-menu input {
   display: none;
}

/* Disable inside */
.player-menu .hidden_show {
   height: 0;
   padding: 0;
   overflow: hidden;
   opacity: 0;
   transition: 0.8s;
}

.player-menu input:checked ~ .hidden_show {
   padding: 10px .5em;
   height: auto;
   opacity: 1;
}


/* Life point */
.player-life {
    padding: .75em 1.25em;
}

#player01-life-icon {
    position: fixed;
    bottom: 0;
    left: 0;    
}

#player02-life-icon {
    position: fixed;
    bottom: 0;
    right: 0;
}


.life-x {
    padding: 0 .25em;
}